body {
  width: 700px;
  height: 500px; 
  background-color: whitesmoke;
  border-radius: 50px;
  margin: 0;
  font-family: "Poppins", serif;
}

.logo-container {
  height: 80px;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
}

.extension-logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.extension-name {
  font-family: "Montserrat";
  font-weight: 700;
  display: inline-block;
  color: black;
  font-size: 32px;
  cursor: default;
}


.extension-main {
  position: relative;
  height: 100%;
  float: left;
  width: 87%;
}



.sidebar-container {
  background-color: rgb(231, 231, 231);
  width: 10%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.259);
  z-index: 10;
  position: relative;
}

.sidebar-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 100px;
  cursor: pointer;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  background-image: url("chrome-extension://__MSG_@@extension_id__/resources/extension-icons/home.svg");
}
#add-eula {
  background-image: url("chrome-extension://__MSG_@@extension_id__/resources/extension-icons/plus.svg");
}
#preferences {
  background-image: url("chrome-extension://__MSG_@@extension_id__/resources/extension-icons/user.svg");
}
#graph {
  background-image: url("chrome-extension://__MSG_@@extension_id__/resources/EULA.png");
}

.sidebar-icon:hover {
  background-color: rgb(218, 218, 218);
}



.search-bar-container {
  text-align: center;
  position: relative;
}

.search-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/resources/extension-icons/search.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

#search-bar {
  border: none;
  background-color: rgb(228, 228, 228);
  border-radius: 100px;
  line-height: 15px;
  height: 40px;
  width: 250px;
  padding: 0 36px;
  font-size: 18px;
  font-family: "Poppins";
  transition: background-color ease 0.2s;
}

#search-bar:focus {
  outline: none;
  background-color: rgb(212, 212, 212);
}

.search-bar-inner {
  display: inline-block;
}

#all-app-container {
  height: 320px;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.app {
  background-color: whitesmoke;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.274);
  cursor: pointer;
  transition: filter 0.2s ease;
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
}

.app:hover {
  filter: brightness(0.8)
}

.content {
  animation: forwards ease 0.2s loadIn 
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#panel-content {
  display: none;
}

.app-container {
  display: inline-block;
  margin: 10px;
}

.app-name {
  color: gray;
  margin-top: 5px;
}

.panel-app-header {
  text-align: center;
  position: relative;
}

.panel-app-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.192);
  padding: 5px;
  background-color: whitesmoke;
}

.panel-app-header-background {
  position:absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  background-color: rgb(230, 230, 230);
  z-index: -10;
}

.panel-app-header-back-button {
  position: absolute;
  float: left;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  color: gray;
  border-radius: 100px;
  top: 20px;
  left: 10px
}
.panel-app-header-back-button:hover {
  background-color: rgb(235, 235, 235);
}

.panel-app-title {
  color: gray;
  font-size: 16px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.panel-arc {
  display: inline-block;
}

.panel-arc-container {
  display: inline-block;
  position: relative;
}

.panel-arc-value {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 120px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 500;
  color: gray;
}


.panel-app-score-summary {
  display: inline-block;
  width: 400px;
  font-size: 14px;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-left: 20px;
}

.panel-app-score-container {
  position: relative;
  margin: 20px
}