button {
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    display:flex;
    justify-content: center;
}

li {
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-search-bar-container {
    text-align: center;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/resources/extension-icons/search.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }
  
  #hidden-search-bar {
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 100px;
    line-height: 15px;
    height: 40px;
    width: 250px;
    padding: 0 36px;
    font-size: 18px;
    font-family: "Poppins";
    transition: background-color ease 0.2s;
  }
  
  #hidden-search-bar:focus {
    outline: none;
    background-color: rgb(212, 212, 212);
  }
  
  .hidden-search-bar-inner {
    display: inline-block;
  }

.containersearch {
    padding: 10px;
     display: flex;
    align-items: center; 
    justify-content: center;

}

.all-app-container {
  height: 320px;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.app {
  background-color: whitesmoke;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.274);
  cursor: pointer;
  transition: filter 0.2s ease;
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
}

.app:hover {
  filter: brightness(0.8)
}

.app-container {
  display: inline-block;
  margin: 10px;
}

.app-name {
  color: gray;
  margin-top: 5px;
}
