.popup-container {
    background-color: whitesmoke;
    width: 600px;
    height: 510px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    animation: loadIn ease 0.2s forwards;
    cursor:move;
}



.popup-logo-container {
    height: 80px;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.popup-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

.popup-logo-name {
    font-weight: 700;
    display: inline-block;
    color: black;
    font-size: 32px;
    cursor: default;
}

.popup-corner-button {
    font-size: 30px;
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
    color: gray;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
}

.popup-corner-button:hover {
    filter: brightness(0.8)
}

#reshow-popup-button {
    background-color: whitesmoke;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 80px;
    height: 80px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    animation: loadIn ease 0.2s forwards;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.popup-hide-button {
    line-height: 30px;
}

.popup-bottom-button {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.123);
    transition: filter 0.2s ease;
}

.dont-show-button {
    background-color: #FF033E;
    right: 120px;
}

.add-button {
    background-color: mediumspringgreen;
}

.popup-bottom-button:hover {
    filter: brightness(0.9)
}

.popup-arcs-container {
    margin-top: 30px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
}

.popup-site-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.192);
    background-color: whitesmoke;
    display: inline-block;
}

.popup-site-default-icon {
    width: 70px;
    height: 70px;
    border: 5px whitesmoke solid;
    background-color: rgb(182, 56, 255);
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 70px;
    vertical-align: middle;

}

.popup-info-container {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.popup-site-background {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 50%;
    background-color: rgb(230, 230, 230);
    z-index: -1;
}

.popup-site-name {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.popup-categories-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin-right: 50px;
}

.popup-main-score-arc-container {
    display: inline-block;
    margin: 0 40px;
    position: relative;
}

.popup-category-container {
    width: 80px;
    height: 80px;
    margin: 5px 10px;
    position: relative;
    cursor:help;
}

.popup-main-score-value {
    display: inline-block;
    position: absolute;
    line-height: 180px;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    font-size: 30px;
}

.popup-category-icon {
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    filter: grayscale(1)
}

.popup-category-hint {
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    color: gray;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    width: 100px;
}
